.static {
  position: static
}

.absolute {
  position: absolute
}

.right-3 {
  right: 0.75rem
}

.right-3\.5 {
  right: 0.875rem
}

.top-11 {
  top: 2.75rem
}

.top-5 {
  top: 1.25rem
}

.left-0 {
  left: 0px
}

.right-0 {
  right: 0px
}

.top-10 {
  top: 2.5rem
}

.z-999 {
  z-index: 999
}

.z-10 {
  z-index: 10
}

.m-2 {
  margin: 0.5rem
}

.m-0 {
  margin: 0px
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.ml-2 {
  margin-left: 0.5rem
}

.ml-5 {
  margin-left: 1.25rem
}

.mr-5 {
  margin-right: 1.25rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mt-5 {
  margin-top: 1.25rem
}

.mt-8 {
  margin-top: 2rem
}

.ml-1 {
  margin-left: 0.25rem
}

.ml-3 {
  margin-left: 0.75rem
}

.mr-2 {
  margin-right: 0.5rem
}

.mr-3 {
  margin-right: 0.75rem
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.table {
  display: table
}

.h-12 {
  height: 3rem
}

.w-full {
  width: 100%
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.rounded {
  border-radius: 0.25rem
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-b-3xl {
  border-bottom-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-b {
  border-bottom-width: 1px
}

.border-error {
  --tw-border-opacity: 1;
  border-color: rgb(220 38 38 / var(--tw-border-opacity))
}

.border-gray {
  --tw-border-opacity: 1;
  border-color: rgb(128 128 128 / var(--tw-border-opacity))
}

.bg-white-pure {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.bg-loading {
  --tw-bg-opacity: 1;
  background-color: rgb(248 250 252 / var(--tw-bg-opacity))
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(50 111 209 / var(--tw-bg-opacity))
}

.bg-screen {
  --tw-bg-opacity: 1;
  background-color: rgb(252 252 252 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.pl-2 {
  padding-left: 0.5rem
}

.pr-2 {
  padding-right: 0.5rem
}

.pr-2\.5 {
  padding-right: 0.625rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pt-10 {
  padding-top: 2.5rem
}

.text-center {
  text-align: center
}

.font-black {
  font-family: Lato-Black
}

.font-bold {
  font-family: Lato-Bold
}

.font-italic {
  font-family: Lato-Italic
}

.font-regular {
  font-family: Lato-Regular
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-5xl {
  font-size: 3rem;
  line-height: 1
}

.font-black {
  font-weight: 900
}

.font-bold {
  font-weight: 700
}

.font-semibold {
  font-weight: 600
}

.uppercase {
  text-transform: uppercase
}

.lowercase {
  text-transform: lowercase
}

.italic {
  font-style: italic
}

.text-black-pure {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-error {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.text-light-blue {
  color: rgba(50, 111, 209, 0.10)
}

.text-lighter-gray {
  --tw-text-opacity: 1;
  color: rgb(194 194 194 / var(--tw-text-opacity))
}

.text-medium-black {
  --tw-text-opacity: 1;
  color: rgb(51 51 51 / var(--tw-text-opacity))
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(50 111 209 / var(--tw-text-opacity))
}

.text-text {
  --tw-text-opacity: 1;
  color: rgb(55 86 94 / var(--tw-text-opacity))
}

.text-text-dark {
  --tw-text-opacity: 1;
  color: rgb(4 38 47 / var(--tw-text-opacity))
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.text-white-pure {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.elevation-2 {
  elevation: 2px
}

.z-999 {
  z-index: 999
}
